<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-security-policy" content="script-src 'self';"/>




    <link rel="stylesheet" href="Styles/style.css">
    <title>Document</title>
</head>
<body>
    <head> <div class="toolBar">
        <div class="fileName" id="fileName">PlaceHolder.txt</div>
        <div class="menu">
          <button id="new">new</button>
          <button id="open">open</button>
        </div>
    </div></head>
  <main>
      <textarea  id="fileTextArea" disabled></textarea>
  </main>
</body>
</html>